
<div class="jumbotron">
  <div class="container">

    <div id="home-imeag" class="col-sm-6 text-center">
      <img src="/assets/logo-header.png" alt="BitCode logo" />
    </div>
    <br>
    <br>
    <br>
    <div id="home-headlin" class="col-sm-6 text-center">
      <h3>تعلم برمجة تطبيقات الويب بطريقة تفاعلية وباللغة العربية. وبشكل مجاني أيضاً!</h3>
      <br>
      <p> <%= link_to "أبداً الرحلة الآن", challenges_path, :class => "btn btn-primary btn-lg"%></p>
    </div>

  </div>
</div>
