// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#home-headlin {
  direction: rtl;
}


.jumbotron{
  background-color: #1695a3;
  color: white;
}

.jumbotron h3{
  line-height: 2;
}

.jumbotron a{
  color: white;
}

.caption a:visited {
  color: white;

}

.btn-primary a {
  color: white;
}


.caption p {
  font-family: 'Droid Arabic Kufi', serif;
  direction: rtl;
  line-height: 2;
}
